* {
     padding: 0;
     margin: 0;
}

body {
    background-color: rgb(169, 198, 189);
    margin-left: 500px;
    margin-right: 150px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif
}

#navbar {
    display: flex;
    height: 60px;
    top: 0px;
    z-index: 10;
    align-items: center;
}

button {
    background-color: #f08804;
}

#logo {
    color: rgb(19, 31, 73);
    font-size: 35px;
    margin-left: 10px;
    text-decoration: none;
}

a {
    margin-right: 150px;
    padding-top: 15px;
    font-size: 20px;
}

h1 {
    color: black;
    width: 400px;
}

.container {
    display: flex;
    position: absolute;
    top: 80px;
    border: 5px solid none;
}

img {
  width: 250px;
  margin-left: 187px;
}

.text {
  font-size: 18px;
  float: left; 
  padding-top: 5px 4px 1px 5px;
  margin-left: 5px;
  width: 800px;
}

.image {
    padding: 2px 3px 4px 5px; 
}

#aboutMe {
    position: absolute;
    top: 250px;
    width: 800px;
}

#RTexp {
    position: relative;
    top: 400px;
}

#explist{
    padding-left: 30px;
    line-height: 40px;
}

#edu {
    position: relative;
    top: 450px;
}

#edulist {
    padding-left: 30px;
    line-height: 40px;
}

#pub {
    position: relative;
    top: 450px;
}

#publist {
    padding-left: 30px;
    line-height: 40px;
}

