@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Comic Sans MS, sans-serif;
}

body{
	background: #f5f6fa;
	height: fit-content;
}

.wrapper .sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
	/* font-family: 'Open Sans', sans-serif; */
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 150px;
	height: 150px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 15px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 15px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;

	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
	background: rgb(7, 105, 185);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 15px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
}

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

.Home .aboutMe {
	height: auto;
	padding-left:  270px;
	width: 1200px;
}

.Home .aboutMe p {
	text-align: justify;
	margin: 1em 0 0 0;
	font-size: normal;
  }
  p + p {
	text-indent: 2em;
	margin: 0;
  }
  
  #pub {
	height: auto;
    padding-left:  270px;
	width: 1200px;
    
}

#publist {
	text-align: justify;
	margin: 1em 0 0 0;
    padding-left: 30px;
    line-height: 30px;
}

.list {
	list-style: circle;
}

.PboxLink {
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(7, 2, 27);
    border-radius: 8px;
}

.PboxLink .PLink {
	display: inline;
	
}

.socials{
    list-style: none;
    display: flex;
}

.socials li{
    margin: 0 40px;
}
.socials a{
    text-decoration: none;
    /* color: #fff; */
    /* border: 1.1px solid white; */
    padding: 5px;

    /* border-radius: 50%; */

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

/* Box properties */
.Tcircle{
	float: center;
	height: auto;
	padding-left:  270px;
	width: 1200px;
}

.Tcircle h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}

#cteach {
	text-align: justify;
	margin: 1em 0 0 0;
	font-family: fantasy;
	padding-left: 17px;
}

.Pcircle{
	height: auto;
	padding-left:  270px;
	width: 1200px;
}

.Pcircle h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}

#cpub {
	text-align: justify;
	margin: 1em 0 0 0;
	padding-left: 17px;
}

/* For footer  */
footer{
	margin-left: 250px;
	padding: 0 10px;
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100vw;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}

.footer-content h2{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
	
}

.footer-content p{
    max-width: 500px;
	padding-left: 10px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #c8cbd0;
	
}

.list a:hover {
	color: #27bcda;
}

