@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Comic Sans MS, sans-serif;
}

body{
	background: #f5f6fa;
	height: fit-content;
	
}

/* Top Navigation */

.topnav {
	overflow: hidden;
	background-color: #191355;
  }
  
.topnav a {
	float: left;
	color: #f5f1f1;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
.topnav a:hover {
	background-color: #3560ec;
	color: black;
  }
  
.topnav-right {
	float: right;
  }

/* image and text */

  .container {
	display: grid;
	align-items: left; 
	grid-template-columns: 1fr 10fr;
	column-gap: 5px;
	border-bottom: 4px solid #3d1795;
	
   }
   
   img {
	margin-left: 10px;
	 max-width: 15rem;
	 max-height: 10rem;
   }
   
   .text {
	 font-size: 1rem;
   }

/* Home page content */

.Home .aboutMe {
	height: auto;
	padding-left:  20px;
	width: 1200px;
}

.Home .aboutMe p {
	text-align: justify;
	margin: 1em 0 0 0;
	font-size: normal;
  }

.TPcircle{
	float: center;
	height: auto;
	padding-left:  20px;
	width: 1200px;
}

.TPcircle h2{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}

.list {
	text-align: justify;
	margin: 1em 0 0 0;
	font-family: fantasy;
	padding-left: 17px;
}

.list i{
	color: #3d1795;
}

.list a:hover {
	color: rgb(18, 190, 12);
}

/* Research Page */

.pub .pub-list {
	padding: 0 3em;
	line-height: 2em;
}

.pub > ul > li {
	display: inline-block;
}

.pub > ul > li > a {
	padding: 1em 2em;
	display: inline-block;
	color: rgb(67, 6, 233);
}

.pub-list a{
	color: #47a3da;
}

.socials{
    list-style: none;
    display: flex;
}
.socials li{
    margin: 0 40px;
}
.socials a{
    text-decoration: none;
    padding: 5px;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
	color: #47a3da;
}

.socials a:hover i{
    color: aqua;
}

/* Student page */

.stud .stud-list {
	padding: 0 3em;
	line-height: 2em;
}

.stud > ul > li {
	display: inline-block;
}

.stud > ul > li > a {
	padding: 1em 2em;
	display: inline-block;
	color: rgb(67, 6, 233);
}

.stud-list a{
	color: #398db6e2;
}











